<!-- BLOQUE -->
<!-- <div class="form"> -->
  <!-- ELEMENTO CON UN MODIFICAOR INCLUIDO-->
  <!-- <input class="form__input form__input--border" type="text" /> -->
  <!-- ELEMENTO -->
  <!-- <input class="form__input" type="text" /> -->
  <!-- ELEMENTO -->
  <!-- <textarea class="form__textarea" rows="" cols=""></textarea> -->

  <!-- ELEMENTO CON DOS MODIFICADORES AÑADIDOS -->
  <!-- <button class="form__submit form__submit--black form__submit--big"></button>
</div> -->





<!-- HEADER DE LA HOME -->
<div class="header header--bolder">
  <div class="header__col">
      <img class="header__logo" src="../../img/logo.png " alt="">
  </div>
  <div class="header__col">
    <div class="header__menu">
      <a class="header__menu-link" href="">PRINCIPAL</a>
      <a class="header__menu-link header__menu-link--green" href="">SEGUNDO</a>
      <a class="header__menu-link" href="">TERCERO</a>
    </div>
  </div>
</div>



<!-- HEADER DE CONTACTOS -->
<div class="header header--lighther">
  <div class="header__col header__col--grey">
      <img class="header__logo" src="../../img/logo.png " alt="">
  </div>
  <div class="header__col">
    <div class="header__menu">
      <a class="header__menu-link header__menu-link--red" href="">PRINCIPAL</a>
      <a  class="header__menu-link header__menu-link--blue" href="">SEGUNDO</a>
      <a  class="header__menu-link header__menu-link--green" href="">TERCERO</a>
    </div>
  </div>
</div>

