<!-- <div class="block">
  <div class="block__elem-1">
    <div class="block__elem-2">
    <div class="block__elem-3"></div>
      <div class="block__elem-4"></div>
    </div>
    <div class="block__elem-5"></div>
  </div>
</div> -->

<div class="header">
  <div class="header__col">
      <img class="header__logo" src="../../img/logo.png " alt="">
  </div>
  <div class="header__col">
    <div class="header__menu">
      <a class="header__menu-link" href=""></a>
      <a class="header__menu-link"></a>
      <a class="header__menu-link"></a>
    </div>
  </div>
</div>

