// .block{

//     &__elem-1{

//     }

//     &__elem-2{

//     }

//     &__elem-3{

//     }
//     &__elem-4{

//     }

//     &__elem-5{

//     }
// }

.header {
  width: 100%;
  display: flex;
  background-color: $accent;
  padding: 20px;
  outline: 1px solid $color-title;

  &__col {
    width: 50%;
    display: block;
    padding: 20%;
    outline: 1px solid $instagram;
  }

  &__logo{
      width: 50%;
      display: block;
      max-width: 100%;
      margin: 0;
      
  }


  &__menu {
    width: 100%;
    display: block;
    background-color: $white;
    color: black;
    padding: 20px;
    outline: 1px solid $color-text;
  }

   &__menu-link{
    display: inline-block;
    background-color: $white;
    color: black;
    padding: 20px;
    outline: 1px solid $color-text;
    text-decoration: none;

}
    
}
